html{
    box-sizing: border-box;
}

*,
::after,
::before{
    box-sizing:inherit;
}

body{
    font-family: Poppins;
    background-color: #1e252b;
    color: #ffffff;
}

.container{
    margin: 0 auto;
    max-width: 1437px;
    padding-left: 108px;
    padding-right: 108px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:inherit;
}

.header__inner{
    margin-top: 30px;
    min-height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item{
    display: flex;
    gap: 30px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.55);
}

.header__buttons{
    display: flex;
    gap: 5px;
}

.header__btn{
    border: 0;
    padding: 12px 28px;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}

.header__btn--activ{
    background-color: #ff6e30;
    color: #fdf5ff;
}

.header__btn--pasiv{
    background-color: #1e252b;
    color: #ffffffc7;
}

.communication__inner{
    min-height: 570px;
    background: url(../antools/img/Illustration2.png) no-repeat;
    background-position: right;
}

.communication__title{
    max-width: 600px;
    max-height: 140px;
    font-family: Poppins;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 110px;
}

.communication__text{
    max-width: 487px;
    max-height: 60px;
    font-family: Poppins;
    line-height: 1.67;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.55);
    margin-top: 30px;
}

.form{
    margin-top: 50px;
}

.text-field__input{
    width: 400px;
    border-radius: 15px;
    background-color: #FF6E30;
    border: 0;
    font-size: 20px;
    text-align:center;
    color: #FFFFFF;
}

.text-field__group {
    display: flex;
  }
  /* кнопка */
  .text-field__btn {
    font-family: Poppins;
    display: inline-block;
    width: 100px;
    height: 65px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #FF6E30;
    border: 0;
    padding: .375rem .75rem;
    font-size: 16px;
    border-radius: 15px;
    transition: background-color .15s ease-in-out;
  }
  .text-field__btn:hover {
    background-color: #fcba9e;
  }
  .text-field__group .text-field__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 2;
  }
  .text-field__group .text-field__btn {
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
  }





.communication__item{
    display: flex;
    gap: 0 40px;
    padding: 0;
    margin-top: 40px;
}

.cards{
    max-width: 1224px;
    min-height: 690px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.cards__inner{
    border: 1px solid rgba(0, 0, 0, 0.875);
    gap: 20px;
    max-width: 392px;
    min-height: 300px;
    padding: 33px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap
}

.cards__top{
    display: flex;
    gap: 30px;
}

.card__text{
    font-size: 16px;
    line-height: 30px;
}

.cards__menu{
    display: flex;
    gap: 60px;
    
}